.page-header {
    margin: 20px;
}

.page-header a {
    margin-top: 20px;
}

.w_300 {
    width: 300px;
    max-width: 300px;
}

.mt_15 {
    margin-top: 15px;
}

form {
    margin-left: 20px;
}

button[type='submit'] {
    margin-top: 15px;
}

input[type='checkbox'] {
    margin-left: 15px;
    margin-right: 3px;
}

h5 {
    margin-left: 15px;   
}

.result-container {
    display: none;
    margin: 20px;
}